{{#boilerplate.showImports}}
from {{{variables.sdkPackage}}}.api.{{apiProperty}}_api import {{apiClassName}}
from {{{variables.sdkPackage}}} import Configuration

{{/boilerplate.showImports}}
configuration = Configuration()
{{variables.clientVar}} = {{apiClassName}}(configuration)

{{#hasRequiredParams}}
{{{paramDeclarations}}}

{{/hasRequiredParams}}
{{#hasBody}}
{{{bodyConstruction}}}

{{/hasBody}}
{{{resultLine}}}
